.cabecalho__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.cabecalho__pesquisar__item {
  display: none;
}

.rodape__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.superior__secao__container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 15px;
  overflow: scroll;
}

.menu__container {
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 74px;
}

.menu__lista {
  display: flex;
  justify-content: space-around;
  height: 100%;
}



.menu__lista li {
  align-self: center;
}

.menu__itens {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
  display: none;
}

@media (min-width: 1440px) {}

@media (min-width: 834px) {
  .cabecalho__pesquisar__item {
    display: block;
  }

  .rodape__container {
    justify-content: space-between;
  }
}