.cabecalho__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.cabecalho__pesquisar__item {
  display: none;
}

.rodape__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 834px) {
  .cabecalho__pesquisar__item {
    display: block;
  }

  .rodape__container {
    justify-content: space-between;
  }
}